---
import Title from "./Title.astro";
import Interest from "./Interest.card.astro";
import MyData from "./MyData.astro";
---

<article id="about-section-title">
  <Title title="Sobre mí" />
  <div
    class="bg-[var(--primary-bg)] flex flex-col gap-y-6 lg:gap-y-8 text-white p-8 lg:py-12 lg:p-20 xl:p-26"
  >
    <!--   <p id="about-description" class="description text-md lg:text-lg">
      Hola, soy <span class="text-[var(--primary-color)]">Facundo Ramirez</span
      >, desarrollador full stack y estudiante de Ciencias de la Computacion.
      Actualmente trabajo como desarrollador web full stack en e-Contact. En mis
      tiempos libres me gusta seguir capacitandome en nuevas tecnologias y
      mejorando mis habilidades en general. Tambien me gusta mucho el deporte,
      siendo el futbol y crossfit los que practico habitualmente. Mas abajo
      podras ver mis proyectos realizados, siendo Sport Managment mi preferido,
      ya que en el combine mi gran pasion por la programacion y el deporte para
      asi crear una web administrativa para centros deportivos. Te invito a
      verla aqui !
    </p> -->

    <div class="flex flex-col gap-y-4 items-center mb-4">
      <p id="about-description" class="description text-md lg:text-lg">
        Soy <span class="text-[var(--primary-color)]">Facundo Ramírez</span>.
        Más que un desarrollador, soy un apasionado por encontrar soluciones
        creativas a través de la tecnología. Autodidacta y actualmente
        estudiante de Ciencias de la Computación, he desarrollado una sólida
        base en desarrollo web, lo cual me abrió puertas para trabajar en
        empresas como desarrollador full stack y poder realizar proyectos
        propios. Mi preferida y mas reciente aplicación, Sport Management,
        fusiona mi amor por el deporte y la programación, ofreciendo una
        excelente solución para la administracion de centros deportivos. Te
        invito a verla aquí!
      </p>
    </div>
    <section class="interestSection flex flex-row gap-12 lg:mt-12">
      <div class="first basis-[40%] flex flex-col gap-y-4 lg:gap-y-8">
        <MyData />
      </div>
      <div class="seconds basis-[60%] flex flex-col gap-y-4 lg:gap-y-8">
        <Interest />
      </div>
    </section>
  </div>
  <div
    class="bg-white text-black w-full p-6 lg:py-8 my-12 flex flex-col lg:flex-row gap-4 items-center justify-center"
  >
    <div class="flex flex-col lg:flex-row gap-2">
      <p id="contactP" class="text-lg text-center">
        ¿Tienes un proyecto en mente?
      </p>
      <p id="contactP" class="text-lg text-center">
        ¡Conversemos y hagámoslo realidad!
      </p>
    </div>
    <nav>
      <a
        id="contactMe"
        href="#contact-section-title"
        class="mx-auto text-2xl lg:text-3xl px-2 text-[var(--primary-color)] border border border-[var(--primary-color)] hover:border-black border-2"
        >CONTACTAME
      </a>
    </nav>
  </div>
</article>

<style>
  .interestSection {
    svg {
    }
  }
  p {
    line-height: 2.5rem;
  }

  /*  @media screen and (max-width: 1629px) {
    .interestSection {
      flex-flow: column wrap;
    }
  } */

  @media screen and (max-width: 1150px) {
    .interestSection {
      flex-flow: column;
    }
  }

  @media screen and (max-width: 1024px) {
    p {
      line-height: 1.5rem;
    }
  }
</style>

<script>
  import gsap from "gsap";
  const contactMe = document.getElementById("contactMe");
  const contactSection = document.getElementById("contact-section-title");

  // ScrollTrigger for activating the link
  const links = gsap.utils.toArray("article div div p nav a");
  links.forEach((a: any) => {
    const element = document.querySelector(a.getAttribute("href")),
      linkST = ScrollTrigger.create({
        trigger: element,
        start: "top top",
      }),
      highlightST = ScrollTrigger.create({
        trigger: element,
        start: "top center",
        end: "bottom center",
        onToggle: (self) => self.isActive && setActive(a),
      });
    a.addEventListener("click", function (e: any) {
      e.preventDefault();
      gsap.to(window, {
        duration: 1,
        scrollTo: linkST.start,
        overwrite: "auto",
      });
    });
  });

  function setActive(link: any) {
    links.forEach((el: any) => el.classList.remove("active"));
    link.classList.add("active");
  }

  contactMe?.addEventListener("click", (event) => {
    event.preventDefault();
    contactSection?.scrollIntoView({ behavior: "smooth" });
  });
</script>
