---
import Html from "../assets/svg/FRONTEND/Html.svg";
import CssNew from "../assets/svg/FRONTEND/CssNew.svg";
import Sass from "../assets/svg/FRONTEND/Sass.svg";
import Javascript from "../assets/svg/FRONTEND/Javascript.svg";
import React from "../assets/svg/FRONTEND/React.svg";
import Next from "../assets/svg/FRONTEND/Nextjs.svg";
import Typescript from "../assets/svg/FRONTEND/Typescript.svg";
import Astrojs from "../assets/svg/FRONTEND/Astro_icon.svg";
import Tailwind from "../assets/svg/FRONTEND/Tailwind.svg";
import Mui from "../assets/svg/FRONTEND/Mui.svg";
import AntDesign from "../assets/svg/FRONTEND/Ant_Design.svg";
import Node from "../assets/svg/BACKEND/Nodejs.svg";
import Express from "../assets/svg/BACKEND/Express.svg";
import Nest from "../assets/svg/BACKEND/Nestjs.svg";
import MongoDb from "../assets/svg/BACKEND/MongoDB.svg";
import Mongoose from "../assets/svg/BACKEND/Mongoose.svg";
import Postgre from "../assets/svg/BACKEND/PostgreSql.svg";
---

<div id="banner" class="mt-8 lg:mt-4">
  <div class="wrapper my-4 lg:my-8">
    <Html class="item item1" />
    <CssNew class="item item2" />
    <Sass class="item item3" />
    <Javascript class="item item4" />
    <React class="item item5" />
    <Next class="item item6" />
    <Typescript class="item item7" />
    <Astrojs class="item item8" />
    <Tailwind class="item item9" />
    <Mui class="item item10" />
    <AntDesign class="item item11" />
    <Node class="item item12" />
    <Express class="item item13" />
    <Nest class="item item14" />
    <MongoDb class="item item15" />
    <Mongoose class="item item16" />
    <Postgre class="item item17" />
  </div>
</div>

<style>
  #banner {
    background-color: var(--secondary-bg);
    .wrapper {
      margin-inline: auto;
      position: relative;
      width: 80%;
      max-width: 2000px;
      height: 40px;
      overflow: hidden;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );
    }
  }

  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }

  .item {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .item1 {
    animation-delay: calc(30s / 17 * (17 - 1) * -1);
  }
  .item2 {
    animation-delay: calc(30s / 17 * (17 - 2) * -1);
  }
  .item3 {
    animation-delay: calc(30s / 17 * (17 - 3) * -1);
  }
  .item4 {
    animation-delay: calc(30s / 17 * (17 - 4) * -1);
  }
  .item5 {
    animation-delay: calc(30s / 17 * (17 - 5) * -1);
  }
  .item6 {
    animation-delay: calc(30s / 17 * (17 - 6) * -1);
  }
  .item7 {
    animation-delay: calc(30s / 17 * (17 - 7) * -1);
  }
  .item8 {
    animation-delay: calc(30s / 17 * (17 - 8) * -1);
  }
  .item9 {
    animation-delay: calc(30s / 17 * (17 - 9) * -1);
  }
  .item10 {
    animation-delay: calc(30s / 17 * (17 - 10) * -1);
  }
  .item11 {
    animation-delay: calc(30s / 17 * (17 - 11) * -1);
  }
  .item12 {
    animation-delay: calc(30s / 17 * (17 - 12) * -1);
  }
  .item13 {
    animation-delay: calc(30s / 17 * (17 - 13) * -1);
  }
  .item14 {
    animation-delay: calc(30s / 17 * (17 - 14) * -1);
  }
  .item15 {
    animation-delay: calc(30s / 17 * (17 - 15) * -1);
  }
  .item16 {
    animation-delay: calc(30s / 17 * (17 - 16) * -1);
  }
  .item17 {
    animation-delay: calc(30s / 17 * (17 - 17) * -1);
  }

  @media screen and (max-width: 1024px) {
    #banner {
      .wrapper {
        height: 40px;
      }
      .item {
        width: 35px;
        height: 40px;
        left: max(calc(100px * 8), 100%);
      }
    }
  }
</style>
