---
import EducationCard from "./EducationCard.astro";
import ExperienceCard from "./ExperienceCard.astro";
import Title from "./Title.astro";
---

<article id="curriculum-section-title">
  <Title title="Curriculum" />
  <div
    id="curriculum-section"
    class="flex flex-col gap-y-4 lg:gap-y-6 xl:gap-y-10 bg-[var(--primary-bg)] text-white py-8 px-2 lg:py-26"
  >
    <p
      id="curriculum-description"
      class="description text-md lg:text-lg px-8 lg:px-12 lg:px-20 xl:px-26 mt-6 mb-12"
    >
      Embárcate en un viaje a través de mi trayectoria profesional y académica
      en este timeline interactivo. Desde mis inicios hasta la actualidad con
      mis logros más recientes, te mostraré cómo fui evolucionando y adquiriendo
      las habilidades necesarias para convertirme en el profesional que soy hoy.
    </p>
    <div
      class="flex flex-col gap-4 2xl:flex-row sm:mx-12 md:mx-20 lg:mx-32 2xl:mx-0 [&>section]:basis-1/2 justify-center [&>section>h2]:w-fit [&>section>h2]:mx-auto [&>section>h2]:relative [&>section>h2]:text-center [&>section>h2]:text-2xl [&>section>h2]:lg:text-2xl [&>section>h2]:2xl:text-3xl [&>section>h2]:mb-4"
    >
      <section
        class="first flex flex-col gap-6 border border-l-0 border-t-0 border-b-0 border-r-4 border-[rgba(255,255,255,0.1)] m-2 md:m-4 lg:m-6 xl:m-8 2xl:m-0"
      >
        <h2>Experiencia</h2>
        <ExperienceCard
          title="Profesor de Programacion"
          place="Santiago de Chile - Chile"
          company="e-Contact"
          year="07/2024 - 09/2024"
          description="Impartí una capacitación de javascript al personal de la empresa donde trabajo, cubriendo desde los fundamentos del lenguaje, hasta las últimas incorporaciones y estándares modernos (ES6+), logrando comentarios muy positivos por parte de los alumnos, destacando la claridad y utilidad del contenido. Como resultado, los participantes pudieron aplicar sus conocimientos en sus tareas diarias, aumentando su rendimiento y aportes a la empresa."
        />
        <ExperienceCard
          title="Desarrollador Full Stack"
          place="Santiago de Chile - Chile"
          company="e-Contact"
          year="02/2023 - Presente"
          description="Me desempeño actualmente como desarrollador full stack, optimizando las interfaces de usuario (UI) de la plataforma, creando nuevas funcionalidades y características que faciliten la navegacion, generando así experiencias más atractivas al usuario. También creé el backend para gestionar usuarios y participo activamente en el desarrollo de otros desarrollados en Nodejs, logrando integrar de manera fluida la lógica de negocio con el frontend. Trabajo utilizando el stack MERN, así como también otras tecnologías como Firebase, Elasticsearch, AWS, entre otras."
          present
        />
        <ExperienceCard
          title="Profesor de Programacion"
          place="Santiago de Chile - Chile"
          company="e-Contact"
          year="05/2023 - 07/2023"
          description="Capacité al personal de la empresa en la que trabajo, profundizando en temas avanzados de CSS y JavaScript, lo que resultó en un aumento en su rendimiento diario, ya que pudieron aplicar sus nuevos conocimientos en sus tareas diarias con mayor eficiencia."
        />
        <ExperienceCard
          title="Profesor de Programacion"
          place="Santiago de Chile - Chile"
          company="e-Contact"
          year="12/2022 - 01/2023"
          description="Diseñé y llevé a cabo un programa de capacitación en programación para el personal de una empresa para la cual posteriormente formé parte, cubriendo temas introductorios como HTML, CSS y una introducción a JavaScript. Logré despertar el interés de varios empleados, quienes expresaron su satisfacción a través de mensajes positivos."
        />
        <ExperienceCard
          title="Desarrollador Frontend"
          place="Santiago de Chile - Chile"
          company="Citybest"
          year="05/2022 - 11/2022"
          description="Diseñé y desarrollé la landing page del producto, creando una experiencia de usuario atractiva y alineada con la identidad de la marca. También continué el desarrollo de una plataforma web que contaba con un panel administrativo y gestión de usuarios, mejorando así la interfaz (UI) y logrando aumentar la satisfacción de los usuarios en un 60%. En paralelo colaboré con el equipo de backend utilizando Node.js, contribuyendo a la integración fluida con el frontend."
        />
        <ExperienceCard
          title="Desarrollador Full Stack"
          place="Buenos Aires - Argentina"
          company="Adalove"
          year="11/2021 - 05/2022"
          description="Optimicé y amplié la interfaz de usuario (UI) del proyecto que me asignaron, incorporando nuevas funcionalidades que mejoraron la experiencia de navegación y aumentaron la interacción del usuario. También colaboré con el equipo de backend en el desarrollo de funcionalidades utilizando NestJS y TypeORM."
        />
      </section>
      <section
        class="second flex flex-col gap-6 border border-l-4 border-t-0 border-b-0 border-r-0 border-[rgba(255,255,255,0.1)] m-2 md:m-4 lg:m-6 xl:m-8 2xl:m-0"
      >
        <h2>Educacion</h2>
        <EducationCard
          title="Licenciatura en Ciencias de la Computacion."
          place="Universidad Nacional de Cordoba (UNC)"
          year="2024 - Presente"
        />
        <EducationCard
          title="Javascript, ES6+, Typescript, React, Node, Next, Nest, Docker."
          place="UDEMY"
          year="2021 - 2023"
        />
        <EducationCard
          title="Desarrollador Full Stack."
          place="Henry Bootcamp"
          year="2021"
        />
        <EducationCard
          title="Contador Publico Nacional"
          place="Universidad Nacional de Misiones (UNaM)"
          year="2007 - 2015"
        />
      </section>
    </div>
  </div>
</article>

<style>
  h2::before,
  h2::after {
    content: "";
    color: orange;
    position: absolute;
    top: 50%;
    width: 100%;
    border-radius: 5px;
    height: 3px;
    background-color: #ccc;
  }

  h2::before {
    left: 100%;
    transform: translateX(1rem) translateY(-50%);
  }

  h2::after {
    right: 100%;
    transform: translateX(-1rem) translateY(-50%);
  }

  @media screen and (max-width: 640px) {
    h2::before,
    h2::after {
      width: 50%;
    }
  }
</style>
