---
const { title, company, year, description, present } = Astro.props;
---

<div class="flex flex-row">
  <div class="hidden 2xl:block basis-[20%]"></div>
  <div
    id="experienceCard"
    class="basis-[95%] lg:basis-[85%] 2xl:basis-[60%] min-w-[320px] md:min-w-[400px] lg:min-w-[700px] h-fit flex flex-col gap-2 bg-[var(--secondary-bg)] text-white p-6 border border-r-[var(--primary-color)] border-l-0 border-r-4 border-t-0 border-b-0"
  >
    <h3 class="text-md lg:text-md xl:text-lg">{title}</h3>
    <h2 class="text-lg lg:text-lg xl:text-2xl text-[var(--primary-color)]">
      {company}
    </h2>
    <p class:list={[{ "text-green-500": present }]} class="text-[#ccc]">
      {year}
    </p>
    <p class="text-[#fff]">{description}</p>
  </div>
  <div
    class="line basis-[5%] lg:basis-[15%] 2xl:basis-[20%] -translate-x-[2px]"
  >
  </div>
</div>

<style>
  .line::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transform: translateY(-50%);
  }
  .line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    transform: translateX(-25%) translateY(-50%);
  }
</style>
