---
import Social from "./Social.astro";
---

<article class="flex flex-col gap-y-4 p-6 bg-red-500">
  <Social footer />
  <h5 class="text-white text-center">
    Desarrollado por <span class="text-[var(--primary-color)]">Facudev</span> - Todos
    los derechos reservados &copy; 2025
  </h5>
</article>
