---
import Social from "./Social.astro";
import Logo from "../assets/svg/Favicon_rojo.svg";
import { Image } from "astro:assets";
---

<article
  class="flex flex-col gap-y-6 pt-12 pb-4 items-center text-white [&>*]:text-base"
>
  <Image src={Logo} alt="Logo" class="size-24" />
  <Social footer />
  <nav
    id="menu"
    class="[&>*]:text-[#fff] h-[100%] hover:[&>a]:text-[var(--primary-color)] flex flex-col lg:flex-row justify-center items-center [&>a]:border [&>a]:border-t-0 [&>a]:border-b-0 [&>a]:border-l-0 [&>a]:border-r-0 lg:[&>a]:border-r-2 [&>#contact]:border-r-0 [&>a]:px-10 [&>a]:transition gap-y-4 lg:gap-y-6 text-xl lg:text-base [&>a]:cursor-pointer px-12 pb-4 border border-t-0 border-r-0 border-l-0 border-b-[#ccc]"
  >
    <a href="#home-section-title" id="footer-home" class="section">Inicio</a>
    <a href="#about-section-title" id="footer-about" class="section">Sobre mi</a
    >
    <a href="#projects-section-title" id="footer-projects" class="section"
      >Proyectos</a
    >
    <a href="#curriculum-section-title" id="footer-curriculum" class="section"
      >Curriculum</a
    >
    <a
      href="#contact-section-title"
      id="footer-contact"
      class="section border text-red-500 border-r-0">Contacto</a
    >
  </nav>
  <div
    class="flex flex-col md:flex-row gap-x-4 items-center justify-center text-center mb-2"
  >
    <span>2025 &copy; Facudev</span>
    <span class="w-[1rem] h-[3px] bg-white hidden md:block"></span>
    <span>Todos los derechos reservados</span>
  </div>
</article>

<script>
  const home = document.getElementById("home");
  const about = document.getElementById("footer-about");
  const aboutSection = document.getElementById("about-section-title");
  const projects = document.getElementById("footer-projects");
  const projectsSection = document.getElementById("projects-section-title");
  const curriculum = document.getElementById("footer-curriculum");
  const curriculumSection = document.getElementById("curriculum-section-title");
  const contact = document.getElementById("footer-contact");
  const contactSection = document.getElementById("contact-section-title");

  home?.addEventListener("click", (event) => {
    event.preventDefault();
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  about?.addEventListener("click", (event) => {
    event.preventDefault();
    aboutSection?.scrollIntoView({ behavior: "smooth" });
  });

  projects?.addEventListener("click", (event) => {
    event.preventDefault();
    projectsSection?.scrollIntoView({ behavior: "smooth" });
  });

  curriculum?.addEventListener("click", (event) => {
    event.preventDefault();
    curriculumSection?.scrollIntoView({ behavior: "smooth" });
  });

  contact?.addEventListener("click", (event) => {
    event.preventDefault();
    contactSection?.scrollIntoView({ behavior: "smooth" });
  });
</script>
