---
import Web from "../assets/svg/web.svg";
import CienciasComputacion from "../assets/svg/ciencias_computacion.svg";
import Sport from "../assets/svg/sport.svg";
import Travel from "../assets/svg/travel.svg";
import Read from "../assets/svg/read.svg";
---

<h2 class="text-xl lg:text-xl xl:text-2xl">Mis intereses</h2>
<div
  class="gridInterested flex flex-row justify-center gap-4 lg:gap-8 [&>div]:bg-[var(--secondary-bg)] hover:[&>div]:bg-[var(--primary-color)] transition py-2 [&>div]:py-2 [&>div]:py-4 lg:[&>div]:p-6 [&>div]:flex [&>div]:flex-col [&>div]:items-center [&>div]:justify-center [&>div]:gap-2 text-base [&>div>h2]:lg:text-lg [&>div]:text-center"
>
  <div class="cardInterested">
    <Web />
    <h2>Desarrollo Web</h2>
  </div>
  <div class="cardInterested">
    <CienciasComputacion />
    <h2>Ciencias de la Computación</h2>
  </div>
  <div class="cardInterested">
    <Sport class="sport" />
    <h2>Deportes</h2>
  </div>
  <div class="cardInterested">
    <Travel />
    <h2>Viajar</h2>
  </div>
  <div class="cardInterested">
    <Read />
    <h2>Leer</h2>
  </div>
</div>

<style>
  .gridInterested {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    svg {
      width: 80px;
      height: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .gridInterested {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
</style>
