<h2 class="text-xl lg:text-xl xl:text-2xl">Mis Datos</h2>
<div class="flex flex-col lg:gap-y-4 [&>span]:text-md [&>span]:lg:text-lg">
  <span
    ><span class="text-[var(--primary-color)]">Nombre:</span> Facundo Ramírez</span
  >
  <span
    ><span class="text-[var(--primary-color)]">Telefono:</span> +543764227220</span
  >
  <span
    ><span class="text-[var(--primary-color)]">Email:</span> facundoramirez089@gmail.com</span
  >
  <span
    ><span class="text-[var(--primary-color)]">Ubicación:</span> Córdoba, Córdoba
    - Argentina</span
  >
  <span
    ><span class="text-[var(--primary-color)]">Perfil:</span> Desarrollador Web Full
    Stack</span
  >
</div>
