---
import Image from "astro/components/Image.astro";
import Paisaje from "../assets/paisaje.webp";
import Paisaje2 from "../assets/paisaje2.webp";
import Paisaje3 from "../assets/paisaje3.webp";
import Paisaje4 from "../assets/paisaje4.webp";
---

<div id="projectsGrid" class="">
  <div
    class="card relative overflow-hidden transition [&>img]:hover:scale-110 [&>img]:hover:opacity-10 [&>div]:hover:opacity-100 hover:cursor-crosshair"
  >
    <Image src={Paisaje} alt="Paisaje" class="w-full transition duration-500" />
    <div
      class="info transition duration-500 opacity-0 flex flex-col gap-8 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center"
    >
      <div class="infoTitle flex flex-col gap-2 items-center justify-center">
        <h3 class="text-lg lg:text-2xl xl:text-3xl">Trello Reload</h3>
        <p>Una version minimalista de Trello</p>
      </div>
      <div class="technologies flex flex-row">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
          >React</span
        >
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
          >Tailwind</span
        >
        <span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
          >Nest</span
        >
      </div>
    </div>
  </div>
  <div
    class="card relative overflow-hidden transition [&>img]:hover:scale-110 [&>img]:hover:opacity-10 [&>div]:hover:opacity-100 hover:cursor-crosshair"
  >
    <Image
      src={Paisaje2}
      alt="Paisaje"
      class="w-full transition duration-500"
    />
    <div
      class="info transition duration-500 opacity-0 flex flex-col gap-8 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center"
    >
      <div class="infoTitle flex flex-col gap-2 items-center justify-center">
        <h3 class="text-lg lg:text-2xl xl:text-3xl">Sport Managment</h3>
        <p>Gestiona tu centro deportivo aqui</p>
      </div>
      <div class="technologies flex flex-row">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
          >React</span
        >
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
          >Tailwind</span
        >
        <span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
          >Nest</span
        >
      </div>
    </div>
  </div>
  <div
    class="card relative overflow-hidden transition [&>img]:hover:scale-110 [&>img]:hover:opacity-10 [&>div]:hover:opacity-100 hover:cursor-crosshair"
  >
    <Image
      src={Paisaje3}
      alt="Paisaje"
      class="w-full transition duration-500"
    />
    <div
      class="info transition duration-500 opacity-0 flex flex-col gap-8 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center"
    >
      <div class="infoTitle flex flex-col gap-2 items-center justify-center">
        <h3 class="text-lg lg:text-2xl xl:text-3xl">Dragon Ball Z</h3>
        <p>Revivi la mejor serie con todos sus personajes</p>
      </div>
      <div class="technologies flex flex-row">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
          >React</span
        >
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
          >Tailwind</span
        >
        <span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
          >Nest</span
        >
      </div>
    </div>
  </div>
  <div
    class="card relative overflow-hidden transition [&>img]:hover:scale-110 [&>img]:hover:opacity-10 [&>div]:hover:opacity-100 hover:cursor-crosshair"
  >
    <Image
      src={Paisaje4}
      alt="Paisaje"
      class="w-full transition duration-500"
    />
    <div
      class="info transition duration-500 opacity-0 flex flex-col gap-8 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center"
    >
      <div class="infoTitle flex flex-col gap-2 items-center justify-center">
        <h3 class="text-lg lg:text-2xl xl:text-3xl">Weather App</h3>
        <p>¿Día frío o caluroso? Descubrilo</p>
      </div>
      <div class="technologies flex flex-row">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
          >React</span
        >
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
          >Tailwind</span
        >
        <span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
          >Nest</span
        >
      </div>
    </div>
  </div>
</div>

<style>
  #projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    p {
      text-align: center;
    }
  }

  @media screen and (min-width: 1024px) {
    #projectsGrid {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
  }

  @media screen and (min-width: 1536px) {
    #projectsGrid {
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    }
  }
</style>
