---
const { mobile, footer } = Astro.props;
import Wp from "../assets/svg/wp.svg";
import Lkd from "../assets/svg/lkd.svg";
import Gh from "../assets/svg/gh.svg";
import Ig from "../assets/svg/ig.svg";
---

<div
  id="social"
  class:list={[
    {
      "lg:hidden absolute bottom-[2rem] left-1/2 -translate-x-1/2 lg:[&>a>svg]:size-[2rem] [&>a>svg]:size-[2rem]":
        mobile,
    },
    {
      "w-fit mx-auto [&>a>svg]:size-[2rem] my-0": footer,
    },
  ]}
  class="flex gap-x-4 my-6 [&>svg]:cursor-pointer hover:[&>a>svg]:bg-[var(--primary-color)] hover:[&>a>svg]:fill-[#fff] hover:[&>a>svg]:transition"
>
  <a href="https://wa.me/3764227220" target="_blank">
    <Wp
      id="wp"
      width={"2.5rem"}
      height={"2.5rem"}
      class="bg-white p-2 rounded-[0.5rem]"
    />
  </a>
  <a href="https://www.linkedin.com/in/facundoramirezok/" target="_blank">
    <Lkd
      id="lkd"
      width={"2.5rem"}
      height={"2.5rem"}
      class="bg-white p-2 rounded-[0.5rem]"
    />
  </a>
  <a href="https://github.com/facuramirez" target="_blank">
    <Gh
      id="gh"
      width={"2.5rem"}
      height={"2.5rem"}
      class="bg-white p-[5px] rounded-[0.5rem]"
    />
  </a>
  <a href="https://www.instagram.com/facuramirez_/" target="_blank">
    <Ig
      id="ig"
      width={"2.5rem"}
      height={"2.5rem"}
      class="bg-white p-[7px] rounded-[0.5rem]"
    />
  </a>
</div>
