---
const { title, id } = Astro.props;
---

<h2
  id={id}
  class="text-3xl lg:text-3xl xl:text-4xl 2x:text-5xl text-center bg-[var(--secondary-color)] [text-shadow:_3px_3px_5px_#000] text-white p-2 lg:p-4 mt-16"
>
  {"<"}{title}
  {"/>"}
</h2>
