---
const { title, id } = Astro.props;
---

<h2
  id={id}
  class="text-3xl lg:text-3xl xl:text-4xl 2x:text-5xl text-center bg-[var(--secondary-color)] text-white p-2 lg:p-4 mt-16"
>
  {"<"}{title}
  {"/>"}
</h2>
