<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="icon" type="image/svg+xml" href="/Favicon_rojo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial"
      rel="stylesheet"
    /> -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Facundo Ramirez</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial");

  :root {
    --primary-color: #f8004d;
    --secondary-color: #b40040;
    /* --primary-bg: #1d1d1d;
    --secondary-bg: #313131; */
    --primary-bg: #1b1f22;
    --secondary-bg: #212528;
    --font1: "ABC Ginto Nord Unlicensed Trial", sans-serif;
    --font2: "ABC Ginto Nord Condensed Unlicensed Trial", sans-serif;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    color: #000;
    font-family: var(--font2);
    font-weight: 700;
    background-color: var(--primary-bg);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Ocultar la barra de desplazamiento */
  /* ::-webkit-scrollbar {
    display: none;
  } */

  /* Mostrar la barra de desplazamiento y personalizarla */
  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra */
    height: 10px; /* Ancho de la barra */
  }

  /* Personalizar el thumb */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
  }

  /* Personalizar la pista */
  ::-webkit-scrollbar-track {
    background: var(--secondary-bg); /* Color de fondo de la pista */
  }

  .driver-popover.driverjs-theme {
    background-color: #fff;
    color: #ffffff;
  }

  .driver-popover.driverjs-theme .driver-popover-title {
    font-size: 20px;
  }

  .driver-popover.driverjs-theme .driver-popover-title,
  .driver-popover.driverjs-theme .driver-popover-description,
  .driver-popover.driverjs-theme .driver-popover-progress-text {
    color: #000;
  }

  .driver-popover.driverjs-theme button {
    flex: 1;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border: 2px solid #000;
    text-shadow: none;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 6px;
  }

  .driver-popover.driverjs-theme button:hover {
    background-color: #000;
    color: #ffffff;
  }

  .driver-popover.driverjs-theme .driver-popover-navigation-btns {
    justify-content: space-between;
    gap: 3px;
  }

  .driver-popover.driverjs-theme .driver-popover-close-btn {
    color: #9b9b9b;
  }

  .driver-popover.driverjs-theme .driver-popover-close-btn:hover {
    color: #000;
  }

  .driver-popover.driverjs-theme
    .driver-popover-arrow-side-left.driver-popover-arrow {
    border-left-color: #000;
  }

  .driver-popover.driverjs-theme
    .driver-popover-arrow-side-right.driver-popover-arrow {
    border-right-color: #fff;
  }

  .driver-popover.driverjs-theme
    .driver-popover-arrow-side-top.driver-popover-arrow {
    border-top-color: #fff;
  }

  .driver-popover.driverjs-theme
    .driver-popover-arrow-side-bottom.driver-popover-arrow {
    border-bottom-color: #fff;
  }
</style>
